body{
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;

}
.main{
  text-align: center;
  width: 200px;
  background-color: hsl(0, 0%, 100%);
  margin: 125px auto 0 auto;
  padding: 10px;
  border-radius: 10px;
}
.main img{
  width: 200px;
  border-radius: 10px;
}
div{
  padding: 5px;
}
h1{
  font-size: 1.5rem;
}
p{
  color: hsl(220, 15%, 55%);
  font-size: 1.1rem;
}

@media screen and (min-width: 375px){
  .main{
    margin: 8vh auto;
    width: 300px;
  }
  .main img{
    width: 300px;
  }
}